:root{
    --main-white: #FFFFFF;
    --main-grey: #353b48;
    --sec-gray: #AFB1B2;
    --main-black: #121216;
    --sec-black: #1B1D20;
    --ter-black: #282A2D;
    --main-softcian: #74EBD5;
    --main-softblue: #9FACE6;
    --main-purple: #903CF3;
}
