/* style de elementos */
.main-header{
    width: 100%;
    padding: 0;
    margin-top: 0;
    display: flex;
    justify-content:center;
}    
.content-header{
    border-radius: 100px;
    width: 120px;
}
.content-header img{
    background: var(--main-white);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 100px;
}
.search-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: var(--main-white);
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: var(--main-black);
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}
.search-txt::placeholder{
    color: var(--main-black);
}

.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
}

.search-box:hover > .search-btn{
    background: var(--main-white);
}

.search-btn{
    color: var(--main-grey);
    float: right;
    width: 40px;
    height: 40px;
    border: transparent 1px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
}

.search-icon{
    width: 20px;
    height: 20px;
}

/* style footer */

footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: var(--main-black);
    color: var(--main-white);
    font-size: 12px;
}

.main-content{
    display: flex;
}

.main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
}

.box h2{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.box .content{
    margin: 20px 0 0 0;
    position: relative;
}

.box .content:after{
    position: absolute;
    content: '';
    width: 15%;
    height: 2px;
    background: var(--main-softblue);
    top: -10px;
}

.box .content:before{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background: var(--main-black);
    top: -10px;
}

.left .content .social{
    margin: 20px 0 0 0;
}

.left .content .social{
    padding: 0 2px;
}

.left .content .social{
    width: 40px;
    height: 40px;
    background: var(--main-black);
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    font-size: 18px;
    transition: 0.3s;
}

.left .content .social {
    background: var(--main-softblue);
}

.left .content p{
    text-align: justify;
}

.right img{
    height: 70px;
    float: right;
}
.main-content .info-thumb{
    height: 800px;
    width: 350px;
    background:pink;
    padding: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.main-content .info-thumb img{
    height: 250px;
    border: 1px transparent solid;
    border-radius: 150px;
}
.main-content h1{
    color: var(--main-white);
    text-align: center;
}

.bio{
    margin: 30px;
    color: var(--main-white);
}
