.header{
    padding: 0;
    display: flex;
    justify-content: space-between;
    padding:20px;
    align-items:center;
    flex-wrap: wrap;
}
.header a img{
    height: 90px;
}
.menu{
   display: flex;
}
.menu li{
    margin-left: 15px;
    color: var(--main-white);
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.0rem;
}
.menu li:hover{
    color: var(--sec-purple);
}
.menu li a{
    display: block;
    padding: 10px;
}
.search-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: var(--main-white);
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: var(--main-black);
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}
.search-txt::placeholder{
    color: var(--main-black);
}

.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
}

.search-box:hover > .search-btn{
    background: var(--main-white);
}

.search-btn{
    color: var(--main-grey);
    float: right;
    width: 40px;
    height: 40px;
    border: transparent 1px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
}

.search-icon{
    width: 20px;
    height: 20px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .content{
    border-radius: 10px;
    background: var(--main-white);
    color: var(--main-black);
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 50px;
}
.container .artist-description img{
    border: 1px transparent solid;
    border-radius: 200px;
    height: 280px;
    padding: 20px;
}
/* footer{ */
/*     position: fixed; */
/*     bottom: 0px; */
/*     width: 100%; */
/*     background: var(--main-black); */
/*     color: var(--main-white); */
/*     font-size: 12px; */
/* } */

#goBack{
    text-decoration: none;
    color: var(--main-softblue);
    font-size: 1.8rem;
    cursor: pointer;
    padding: 10px;
}

