/* style padrão do projeto */
/* estilo padrão */
/* animações */
/* transitions */
/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@1&display=swap');

body{
	margin: 0;
    padding: 0;
	height: 100%;
	width: 100%;
    background: var(--sec-black);
    overflow-x: hidden;
}

@media screen and (max-width: 900px){
   footer{
       position: fixed;
       bottom: 0px;
   }
   .main-content{
       flex-wrap: wrap;
       flex-direction: column;
   }
    .main-content .box{
        margin: 5px 0;
    }
}
