@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

body,ul,li,p{
	margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 1.2rem;
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    background: url("../img/people.webp");
}

a{
    text-decoration: none;
    color: var(--main-white);
}

@media screen and (max-width: 900px){
   footer{
       position: fixed;
       bottom: 0px;
   }
   .container{
       flex-wrap: wrap;
       flex-direction: column;
   }
    .container .box{
        margin: 5px 0;
    }
}
