/* style padrão do projeto */

/* estilo padrão */
/* animações */
/* transitions */
/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&display=swap');

body{
	margin: 0;
	height: 100vh;
	width: 100vw;
	background-color: var(--main-turquesa);
	background-image: linear-gradient(0deg, var(--main-softblue) 25%, var(--main-softcian) 100%);
    overflow-x: hidden;
}

